/.project
/.settings/
.idea/*
*.iml
.idea/
dp-db/.classpath
dp-db/.project
dp-db/target/
dp-db/.settings
dp-app/.classpath
dp-app/.project
dp-app/target/
dp-app/.settings
dp-core/.classpath
dp-core/.project
dp-core/target/
dp-core/.settings
dp-week0DBLoad/.classpath
dp-week0DBLoad/.project
dp-week0DBLoad/target/
dp-week0DBLoad/.settings