@CHARSET "ISO-8859-1";
/* Classes used in Notification Approval html page */
.zeroPadding {
	padding: 0px !important;
}

.zeroPaddingLeft {
	padding-left: 0px !important;
}

.zeroPaddingRight {
	padding-right: 0px !important;
}

.zeroPaddingLeftRight {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.rowPadding{
	padding: 5px;
}

.borderBottom {
	border-bottom: 1px solid #F4F4F4;
}

.noBorderTop {
	border-top: none !important;
}

.noBoxShadow {
	box-shadow: none !important;
}

.textMessage {
	color: #02015F;
	font-size: 14px;
}

.fontWeight500 {
	font-weight: 500 !important;
}

.fontWeight600 {
	font-weight: 600 !important;
}

.boldText{
	font-weight: bold;
}

.extraPaddingTopBottom {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

.headerTitle1 {
	font-size: 30px !important;
	font-weight: 700;
	color: #fff;
}

.box-header-div1 {
	background-color: #DBDBDB;
	height: 50px;
}

.box-header-div2 {
	background-color: #095B95;
	padding-left: 50px !important;
}

.box-header-div3 {
	background-color: #00A800;
	color: #fff !important;
}

.errorBackgroundDiv{
	background-color: #D70000! important;
}

.box-header-skewed {
	transform: skewX(-45Deg);
	Z-INDEX: 1000;
	margin-right: -25px;
	margin-left: -25px;
}

.boxBodyDiv {
	color: #02015F;
	font-weight: 600;
	font-size: 12px;
	padding-bottom: 5px !important;
}

/* .containerDivPadding{
	padding-left: 10%;
	padding-right: 10%;
} */

.btnDiv{
	text-align:center; 
	padding: 10px;
}

.backgroundColorDiv{
	background-color: #ffffff;
}

.alignCenter{
	text-align: center;
}

.alignLeft{
	text-align: left;
}

.viewDashboardBtn{
	margin-left: 30%; 
	width: 40% !important;
	font-size: 14px;
	font-weight: 600;
	padding: 10px;
}