<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">
	<http pattern="/util/**" security="none" />           
	<http pattern="/api/deployment/**" security="none" />
	<http pattern="/api/batch/**" security="none" />            
	<http pattern="/runtime/**" security="none" />           
	<http pattern="/resources/**" security="none" />
	<http pattern="/ajax/**" security="none" />
	<http pattern="/css/**" security="none" />
	<http pattern="/fonts/**" security="none" />
	<http pattern="/img/**" security="none" />
	<http pattern="/js/**" security="none" />
	<http pattern="/less/**" security="none" />
	<http pattern="/pages/**" security="none" />
	<http pattern="/partials/**" security="none" />
	<http pattern="/phones/**" security="none" />
	<http pattern="/mapping/**" security="none" />
	<http pattern="/tenant/**" security="none" />
	<http pattern="/login" security="none" />
	<http pattern="/favicon.ico" security="none" />
	<http auto-config="true">
		<intercept-url pattern="/**" access="IS_AUTHENTICATED_FULLY" />
		<form-login login-page="/login" authentication-failure-url="/login?error=true" />
		<logout delete-cookies="JSESSIONID" invalidate-session="true"
			logout-success-url="/login" />
	</http>
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="admin" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>