<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN"> 
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingRandomAccessFile name="RollingRandomAccessFile"
			fileName="D:/logs/umg/admin.log" filePattern="D:/logs/umg/$${date:yyyy-MM}/admin-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>

	<Loggers>
		<Logger name="org.jgroups" level="error" additivity="false">
			<AppenderRef ref="RollingRandomAccessFile" />
		</Logger>
				
		<Root level="info">
			<AppenderRef ref="RollingRandomAccessFile" />
		</Root>
	</Loggers>
</Configuration>


