/* .section-style{
    width: 648px !important;
    align-content: center;
    margin-left: 96px;
} */
input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }